{{#if addNewAnswer}}
  <form class="newAnswerForm">
    <label for="author">Name</label>
    {{input value=author id="author"}}

    <label for="avatar">Avatar</label>
    {{input value=avatar id="avatar"}}

    <label for="date">Date</label>
    {{input value=date id="date"}}

    <label for="content">Answer:</label>
    {{textarea value=content id="content"}}
    <button {{action 'saveAnswer'}}>Save</button>

  </form>
{{else}}
  <div class="row">
    <i {{action 'answerFormShow'}} class="fa fa-reply" aria-hidden="true"></i>
  </div>
{{/if}}
