{{#if addNewQuestion}}
  <form class="newQuestionForm">
      <label for="author">Name</label>
      {{input value=author id="author"}}

      <label for="avatar">Avatar</label>
      {{input value=avatar id="avatar"}}

      <label for="date">Date</label>
      {{input value=date id="date"}}

      <label for="content">Question:</label>
      <p>{{textarea value=content id="content"}}</p>


    <button {{action 'saveQuestion'}}>Save</button>

  </form>
{{else}}
    <button class="newQ" {{action 'questionFormShow'}}>New</button>
{{/if}}
