{{#if updateQuestionForm}}
  <form class="updateForm">
    <label for="author">Name</label>
    {{input value=author id="author" placeholder=question.author}} <br>

    <label for="avatar">Avatar</label>
    {{input value=avatar id="avatar" placeholder=question.avatar}} <br>

    <label for="date">Date</label>
    {{input value=date id="date" placeholder=question.date}} <br>

    <label for="content">Question:</label>
    {{textarea value=content id="content" placeholder=question.content}} <br>

    <button {{action 'updateQuestion' question}}>Save</button>
  </form>
{{else}}
    <i {{action 'updateQuestionForm'}} class="fa fa-pencil-square-o" aria-hidden="true"></i>
{{/if}}
