<!-- <p>{{#link-to 'question' question.id}}{{question.content}}{{/link-to}}</p> -->

<div class="questionItem row">
  <div class="voteDiv two columns">
    <i {{action "upVote" question}} class="fa fa-chevron-up" aria-hidden="true"></i><br>
    <i {{action "downVote" question}} class="fa fa-chevron-down" aria-hidden="true"></i>
  </div>
  <div class="avatarDiv two columns">
    <img src={{question.avatar}}>
  </div>
  <div class="contentDiv seven columns">
    <p><strong>{{question.content}}</strong> <span class="voteNum">(Score: {{question.score}})</span></p>
  </div>

  <div class="linkDiv one columns">
    {{#link-to 'question' question.id}}<p class="hide">{{question.content}}</p><i class="fa fa-arrow-circle-right" aria-hidden="true"></i>{{/link-to}}
  </div>
</div>
