<div class="whitebox">
  <div class="row nav">
    <div class="questions eight columns">
      <p>QUESTIONS</p>
    </div>
    <div class="new four columns">
      {{question-new saveQuestion="saveQuestion"}}
    </div>
  </div>

  <div class="questionTile container">
    {{#each model.questions as |question|}}
      {{question-tile question=question updateQuestion="updateQuestion" destroyQuestion="destroyQuestion" upVote="upVote" downVote="downVote"}}
    {{/each}}
  </div>

  <div class="nav2">
    <div class="questions twelve columns">
      <p>FAVORITES</p>
    </div>
  </div>

  <div class="favTile container">
    {{display-favorites}}
  </div>
</div>



<!-- <ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question updateQuestion="updateQuestion" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul> -->



<!-- <ul>
  {{#each model.answers as |answer|}}
    <li>{{answer.content}}</li>
  {{/each}}
</ul> -->
